{
  "include_dirs":[
    "./app_a/include",
  ],
  "deps_dirs":[],
  "apps_dirs":[
    "./app_a",
  ],
  "diagnostics":{
    "disabled":[
      "crossref",
      "dialyzer",
      "elvis"
    ]
  },
  "incremental_sync":true,
  "lenses":{
    "disabled":[
      "suggest-spec"
    ],
    "enabled":[
      "server-info"
    ]
  }
}
