{deps, []}.

{escript_incl_apps, [erlang_service]}.
{escript_main_app, erlang_service}.
{escript_name, erlang_service}.
{escript_emu_args, "%%! +sbtu +A0 +sbwt none +sbwtdcpu none +sbwtdio none -noinput -mode minimal -escript main erlang_service -enable-feature maybe_expr +Q65536\n"}.

{base_dir, "../../../../buck-out/elp/erlang_service"}.

%% Profiles
{profiles, [
    {debug, [{erl_opts, [debug_info, {d, 'DEBUG'}]}]},
    {release, [{erl_opts, [no_debug_info, deterministic]}]}
]}.
