{
  "include_dirs":[
  ],
  "deps_dirs":[],
  "apps_dirs":[
    "./assist_examples",
    "./hover",
    "./wa_utils"
  ],
  "diagnostics":{
    "disabled":[
      "crossref",
      "dialyzer",
      "elvis"
    ]
  },
  "incremental_sync":true,
  "lenses":{
    "disabled":[
      "function-references"
    ],
    "enabled":[
      "server-info"
    ]
  }
}
